.footer {
    background-color: #ffffff;
    color: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.social-icons {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .social-icons li {
      display: inline-block;
      margin-right: 10px;
    }
.social-icons a {
      text-decoration: none;
      color: #333;
      font-size: 20px;
    }

  .footer-links {
    display: flex;
    gap: 80px;
  }

  .footer-links a{
    color: var(--primary-color);
    text-decoration: none;
    font-size:16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 300;
    line-height: 19.36px;
  }

  .footer-button {
    
    border:1px solid #000;
    padding: 10px 40px;
    cursor: pointer;
    font-size:16px;
    font-family:Inter;
    font-weight:300;
    line-height: 19.36px;
  }

  .footer-button:hover {
    background-color: var(--secondary-clr);
  }
